<footer class="site-footer h-card">
<data class="u-url" href="/"></data>

<div class="wrapper">


    <div  class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          
          
            {%- if site.email -%}
            <li>
               <img src='/images/message.png' height=17px id="svg"/>
               <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
             </li>
             
            {%- endif -%}
        </ul>
      </div>

   <div  class="footer-col footer-col-2">
    <ul class="social-media-list">
      <li><a href="https://github.com/benjybarnett" target=_blank><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">benjybarnett</span></a>
    </ul>
  </div>

  <div class="footer-col footer-col-3">
    <ul class="social-media-list">
      <li><a href="https://www.twitter.com/benjy_barnett" target=_blank><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg> <span class="username">benjy_barnett</span></a></li>
    </ul>
  </div>
      
    </div>

  </div>

</footer>
